.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    background-color: #c4ebf9;
    padding: 10px;
}

.grid-container > div {
    background-color: rgba(151, 217, 241, 0.872);
    text-align: center;
    padding: 20px 0;
    font-size: 20px;
}

.tinyText {
    font-size: 12px;
}

.banner {
    grid-column-start: 1;
    grid-column-end: 3;
}

body {
    background-color: rgb(48, 162, 211);
    /*color: blue;*/
}

h1 {
    background-color: rgb(47, 77, 169);
    color: rgb(187, 236, 235);
    text-align: center;
}


/* Navbar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(22, 84, 139);
}

li {
    float: left;
}

li a {
    display: block;
    color: rgb(141, 176, 209);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: rgb(19, 79, 103);
}

.active {
    background-color: #7db9e7;
}